In [1]:
import pandas as pd # importing

In [3]:
# 3 Data structure in pandas 
# a- series 1 D array similar to list or numpy array 
import pandas as pd

# Create a simple series
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# DataFrame: A 2D table with labeled rows and columns.
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

In [7]:
# 4 Indexing and selecting data 
# Select a single columns
print(df['Name'])

# Select multiple columns
print(df[['Name', 'Age']])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [9]:
# Selecting Rows by index 
# Select first two rows
print(df.iloc[:2])

# Select rows by label index
print(df.loc[1])

    Name  Age         City
0  Alice   24     New York
1    Bob   27  Los Angeles
Name            Bob
Age              27
City    Los Angeles
Name: 1, dtype: object

In [11]:
# Boolean indexing 
# select rows where age is>23
print(df[df['Age'] > 23])

    Name  Age         City
0  Alice   24     New York
1    Bob   27  Los Angeles

In [13]:
# Group by Operators 
# Pandas`groupby()` is used to group data by a certain column and apply aggregate functions.
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)

# Group by Department and calculate the mean salary
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    58000.0
HR         51000.0
IT         61000.0
Name: Salary, dtype: float64

In [15]:
#   6. Reshaping Data
#   Pivot Table
#Pivot tables allow you to **rearrange data** based on unique values in a column.
data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago'],
    'Year': [2019, 2019, 2020, 2020],
    'Population': [8.4, 3.9, 8.3, 2.7]
}
df = pd.DataFrame(data)

# Create a pivot table with 'Year' as columns
pivot = df.pivot_table(values='Population', index='City', columns='Year')
print(pivot)

Year         2019  2020
City
Chicago       NaN   2.7
Los Angeles   3.9   NaN
New York      8.4   8.3

In [17]:
#   Melt Function : Unpivot a DataFrame from wide to long format.
# Melt the DataFrame
melted = pd.melt(df, id_vars=['City'], value_vars=['Year', 'Population'])
print(melted)

          City    variable   value
0     New York        Year  2019.0
1  Los Angeles        Year  2019.0
2     New York        Year  2020.0
3      Chicago        Year  2020.0
4     New York  Population     8.4
5  Los Angeles  Population     3.9
6     New York  Population     8.3
7      Chicago  Population     2.7

In [19]:
#   Q1: Create a DataFrame and Filter Employees with Salary > 60000.
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 52000, 62000, 58000]
}
df = pd.DataFrame(data)

# Filter employees with Salary > 60000
high_salary = df[df['Salary'] > 60000]
print(high_salary)

      Name Department  Salary
2  Charlie         IT   62000

In [21]:
#  Q2: Group the Following Data by Department and Find the Total Salary.
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)

# Group by Department and calculate the total salary
grouped = df.groupby('Department')['Salary'].sum()
print(grouped)

Department
Finance     58000
HR         102000
IT         122000
Name: Salary, dtype: int64

In [23]:
# Q3: Reshape the Data Below Using Pivot.
data2 = {
    'City': ['New York', 'New York', 'Chicago', 'Chicago'],
    'Year': [2019, 2020, 2019, 2020],
    'Sales': [200, 250, 150, 180]
}
df2 = pd.DataFrame(data2)

# Create a pivot table
pivot = df2.pivot(index='City', columns='Year', values='Sales')
print(pivot)

Year      2019  2020
City
Chicago    150   180
New York   200   250

In [25]:
#  Q4: Use Boolean Indexing to Select All Employees in the IT Department.
# Filter employees in the IT department
it_employees = df[df['Department'] == 'IT']
print(it_employees)

df.to_excel("data.xlsx")

  Department Employee  Salary
2         IT  Charlie   60000
3         IT    David   62000

In [27]:
#  dependencies

# **2. Reading an Excel File**

### **Reading the Entire File**

import pandas as pd

# Read the Excel file (use the appropriate sheet name or index)
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')  # Or sheet_name=0 for the first sheet
print(df)

   Unnamed: 0 Department Employee  Salary
0           0         HR    Alice   50000
1           1         HR      Bob   52000
2           2         IT  Charlie   60000
3           3         IT    David   62000
4           4    Finance      Eve   58000

In [29]:
#   Reading Specific Columns

# Read only the 'Name' and 'Age' columns
df = pd.read_excel('data.xlsx', usecols=['Department', 'Salary'])
print(df)

  Department  Salary
0         HR   50000
1         HR   52000
2         IT   60000
3         IT   62000
4    Finance   58000

In [31]:
#  Reading Multiple Sheets
# Load multiple sheets into a dictionary
sheets = pd.read_excel('data.xlsx', sheet_name=None)  # None loads all sheets
for sheet_name, sheet_data in sheets.items():
    print(f'Sheet: {sheet_name}')
    print(sheet_data)

Sheet: Sheet1
   Unnamed: 0 Department Employee  Salary
0           0         HR    Alice   50000
1           1         HR      Bob   52000
2           2         IT  Charlie   60000
3           3         IT    David   62000
4           4    Finance      Eve   58000

In [33]:
# **3. Modifying Excel Data**
# **Adding a New Column**
df

  Department  Salary
0         HR   50000
1         HR   52000
2         IT   60000
3         IT   62000
4    Finance   58000

In [35]:
df['New Salary'] = df['Salary'] + 500000  # Example: Add 5 to the 'Age' column
print(df)

  Department  Salary  New Salary
0         HR   50000      550000
1         HR   52000      552000
2         IT   60000      560000
3         IT   62000      562000
4    Finance   58000      558000

In [37]:
#Filtering Data
# Filter rows where Age > 25
filtered_df = df[df['Salary'] >= 60000]
print(filtered_df)

  Department  Salary  New Salary
2         IT   60000      560000
3         IT   62000      562000

In [40]:
# 4. Saving Data to an Excel File

#   Saving to a New Excel File
df.to_excel('modified_data.xlsx', index=False)  # Disable the default index column

In [43]:
#   Saving to a Specific Sheet
df.to_excel('modified_data.xlsx', sheet_name='Modified Data', index=False)

In [45]:
# **5. Handling Excel Files with Multiple Sheets**

### **Example: Read from One Sheet, Modify, and Save to Another Sheet**
# Read from 'Sheet1'
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# Modify data: Add 10 to the 'Salary' column
df['Salary'] = df['Salary'] + 20000

# Save the modified data to 'Sheet3'
with pd.ExcelWriter('data.xlsx', engine='openpyxl', mode='a') as writer:
    df.to_excel(writer, sheet_name='Sheet3', index=False)

In [47]:

# 6. Advanced Example: Combining Multiple Excel Files**

#   If you have multiple Excel files, you can merge them into one.
import glob

# Get all Excel files in the current directory
excel_files = glob.glob('*.xlsx')

# Read and combine all files into a single DataFrame
combined_df = pd.concat([pd.read_excel(file) for file in excel_files])

# Save the combined data to a new Excel file
combined_df.to_excel('combined_data.xlsx', index=False)